
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee+Spice&family=Lemon&family=Rye&family=Vast+Shadow&display=swap');


body{
    /* background-image: linear-gradient(steelblue, white); */
    /* background-color: #000; */
}

/* .navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 10px;
    padding: 0.5rem;
} */
.navbar-brand{
    font-weight: 500;
    font-size: 24px;
    color: #009970;
    transition: 0.3s color;
    font-family: 'Bungee Spice', sans-serif;
    
}

.login-button{
 background-color: #009970;
 color: white;
 font-size: 14px;
 padding: 8px 20px;
border-radius: 50px;
text-decoration: none;
transition: 0.3s  background-color;

}
.login-button:hover{
    background-color: #00b383;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
    
}
.navbar-toggler:focus , .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}
.nav-link:hover , .nav-link:active{
    color: #000;
}

@media(min-width:991px){

    .nav-link::before{

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    
    }
    .nav-link:hover::before , .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }

}




.hero-section{
    background: url(src\assets\Slider\Backgroud.jpg)  no-repeat center;
  
    background-size: cover;
    width: 100%;
   position: relative;
 height: 100%;
 /* font-family: 'Lemon', serif; */
 /* font-family: 'Alfa Slab One', serif; */
 /* font-family: 'Vast Shadow', serif; */
 /* font-family: 'Rye', serif; */
}
.hero-section::before{
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
   
}

.hero-section .container{

  
    z-index: 1;
    position: relative;
}
/* .hero-section h1{

    font-size: 2.5rem;
}

.hero-section h2{
    font-size: 1.2rem;
    
} */

/* ----------------------------------------------------- */

/* 
.deals-section{
    padding: 10px ;
    

 
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  
  
 }

 .deals-image img{
    width: 100%;
    height: auto;
 } */

/* Deals Section */

.deals-section{

   position: relative;
 
}

/* .deals-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
   
} */

.deals-card  {

    

 /* background-color: #000; */
 /* color: #ffffff; */
   
}
.deals-card strong {
 font-family: 'Lemon', serif;
     
 /* font-family: 'Alfa Slab One', serif; */
 /* font-family: 'Vast Shadow', serif; */
 /* font-family: 'Rye', serif; */
}
.deals-card ul{

    /* font-family: 'Alfa Slab One', serif; */
 /* font-family: 'Vast Shadow', serif; */
 /* font-family: 'Rye', serif; */
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.deals-image{
    position: relative;
    height: 100%;
    width: 100%;
}

/* ------------------------------------------- */

/* galary slider  */

.slider-section{
  
    background-color: rgba(124, 117, 117, 0.6);
      height: 100vh;
      width: 100%;
      
      
} 


.c-item{
   
    height:100vh;
   
    /* background-size: cover; */
    /* background:  no-repeat center ;
   background-size: cover;
    width: 100%;
    position: relative; */

}

/* .c-item::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
} */
.c-image{
    height: 100%;
    object-fit: cover;
     
}
.c-item h1{
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}
/* .slider-section .container:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
} */

/* .slider-section .container{
    z-index: 1;
    position: relative;
} */



/* ------------------------ */
/* Menu section  */

.menu-section{
  
    /* background: url(src\assets\Menu\Menu.jpg)  no-repeat center; */
      height: 100%;
      width: 100%;

     background-size: cover;
    position: relative;
} 

/* .menu-section::before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
} */


/* menu section new code  */
.new-card{
    margin-top: 20px;
    cursor: pointer;
}
 
.menu-section .card{
    /* height: 700px; */

}

.menu-image{
    height: 250px;
    object-fit: cover; 
}

#btn3{
    text-align: center;
}
#btn3 button{
    width: 150px;
    height: 35px;
    letter-spacing: 3px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.50s ease-in;
    background-color: rgba(225,166,0);


}
#btn3 button:hover{
    background-color: #000;
    color: white;
}




/* ------------------------------ */

/* Contact section */

/* Your existing CSS styles */
.contact-section {
    background-color: #ffffff;
    padding: 50px 10px; /* Adjusted padding for responsiveness */
}

.contact-info {
    /* font-family: Arial, sans-serif; */
    line-height: 1.6;
}

.phone-link, .email-link {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    display: block;
    /* margin-bottom: 10px; */
}

.phone-link:hover, .email-link:hover {
    color: #007bff; 
}

/* Your existing CSS styles */
.amtDiv {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.amtDiv .contact-info {
    flex-basis: calc(50% - 10px); /* Adjust column width - minus margin */
    margin-bottom: 10px;
    padding: 10px; 
}





/* Media queries for responsiveness */
@media (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }

    .amtDiv .contact-info {
        flex-basis: calc(33.33% - 10px); /* Adjust column width for larger screens */
    }





}

/* Additional media queries for larger screens if needed */
@media (min-width: 992px) {
    .container {
        width: 90%;
    }

    .amtDiv .contact-info {
        flex-basis: calc(25% - 10px); /* Adjust column width for even larger screens */
    }
}

.contact-info h3{

    font-weight: bold;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
     /* font-family: 'Lemon', serif; */
 /* font-family: 'Alfa Slab One', serif; */
 font-family: 'Vast Shadow', serif;
 /* font-family: 'Rye', serif; */
 /* font-family: 'Bungee Spice', sans-serif; */

}

.contact-info p{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
     font-family: 'Lemon', serif;
 /* font-family: 'Alfa Slab One', serif; */
 /* font-family: 'Vast Shadow', serif; */
 /* font-family: 'Rye', serif; */

}