<body  data-bs-spy="scroll" data-bs-offset="0" data-bs-target="#navbar-scroll" class="scrollspy-example">
  
<header class="sticky-top">

  <nav id="navbar-scroll" class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <img src="" alt="logo">

      <a class="navbar-brand me-auto " href="">Pandyas</a>
  
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active mx-lg-2" aria-current="page" href="#home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#contact">Contact Us </a>
            </li>
          </ul>
        </div>
      </div>
      <a class="login-button" href="">Login</a>
  
      <button
        class="navbar-toggler pe-0"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

</header>
  
  <!-- section Home -->
  
  <section id="home" class="hero-section">

    <div class="container d-flex flex-column  align-items-center  "   >

     <div  class=" text-uppercase  text-center  " style="margin-top: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >
     
        <h2 class="text-warning">Welcome Our</h2>
      <h1 class=" text-white " style="font-family: 'Vast Shadow', serif;  ">Pandyas Restaurants</h1>

     </div>
     
       <div class=" mt-1  text-center text-white " style="font-family: monospace;">
         <h2 class="">MAGIC OF INDIAN FLAVOURS</h2>
     
       <p class="fs-5 fw-bold  fst-italic  ">Over the years, from Butter Chicken to Dal Makhani, many Indian dishes have gained popularity across the globe. So much so that many franchises of Indian restaurants have been opened abroad, serving the iconic Indian dishes. Take a look at the list of six Indian restaurants that have been added to it.</p>
       </div>

      <div  class="row container mt-1 text-white text-capitalize " >
        <div class=" col-md-6   mt-1  "  >
          <h1 style="font-family: 'Rye', serif; ">Pandyas Signature</h1>

          <ul class="fw-bold fs-5" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <li>Briyani</li>
            <li> Parotta & Salna</li>
            <li>Chikka Items</li>
            <li>Curry Dosa</li>
            <li>Jigarthanda</li>
          </ul>
       
       
         </div>
  
         <div class=" col-md-6   mt-1  ">
          <h1 style="font-family: 'Rye', serif; ">Pandyas Services</h1>
         
          <ul class="fw-bold fs-5" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
            <li>Dibe In</li>
            <li>Take Away</li>
            <li>Weekend Parties At Your Home</li>
            <li>Catering For Events ( Indoor & Outdoor)</li>
          </ul>
         
         </div>
      </div>
     

    </div><br>


  </section><br>





  <!-- deals Sections -->
  <section class="deals-section">
    <div class="container">
       <div class="card-content">
         <div class="row">

          <div class="col-md-6 py-3 py-md-0">
            
            <img src="assets\Menu\Menu.jpg" class="card-image-top deals-image " >
         
        </div> 
          
          <div class="col-md-6  py-3 py-md-0">
            <div class="card deals-card text-capitalize  " >
             
                <h2 class="text-center card-titel bg-warning fw-bold">Deals</h2>


                <ol>
                  <li>
                    <strong>BREAKFAST</strong>
                    <ul>
                      <li> 2 Idly,Pongal,Dosa,Vada,Sweet -  £4.99</li>
                    </ul>
                  </li>
                  <li>
                    <strong>VEG BUFFET</strong>
                    <ul>
                      <li>Rice,Sambar,Kara Kuzhambu,Kootu,Poriyal,Rasam,Sweet - £4.99</li>
                    </ul>
                  </li>
                  <li>
                    <strong>RICE & CURRY </strong>
                    <ul>
                      <li>Rice with Chicken Curry, Chicken Fry Egg, Salna & Raitha - £5.99</li>
                      <li>Rice with Mutton Curry, Mutton Fry, Egg, Salna & Raitha - £6.99</li>
                      <li> Rice with Fish Curry, Fish Fry, Omlet, Rasam - £6.99</li>
                    </ul>
                  </li>

                  <li>
                    <strong>PANDYAS BRIYANI </strong>
                    <ul>
                      <li>Chicken Briyani, Chicken 65, Egg, Salna & Raitha - £5.99</li>
                      <li>Mutton Briyani, Mutton Fry, Egg Salna & Raitha - £6.99</li>
                  
                    </ul>
                  </li>

                  <li>
                    <strong> PANDYAS CURRY DOSA </strong>
                    <ul>
                      <li>Chicken Curry Dosa With Salna - £5.99</li>
                      <li>Mutton Curry Dosa With Salna - £6.99</li>
                  
                    </ul>
                  </li>

                  <li>
                    <strong> PANDYAS PAROTTA  </strong>
                    <ul>
                      <li>2 Parotta, Chicken Curry, Salna & Raitha - £5.99</li>
                      <li> 2 Parotta, Mutton Curry, Salna & Raitha - £6.99</li>
                  
                    </ul>
                  </li>

                 
                </ol>
              
                
                <div id="btn3"> <button>Order Now</button> </div><br>
             
            </div>
          </div> 
         
        
        </div>
      </div>


    </div><br>


  </section>

<!-- new menu section -->
  <section id="menu" class="menu-section "><br>

    <div class="container">
      <div class="new-card ">
        <div class="row">
          
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
              <img src="assets\Menu\Dosa.jpg" class="card-image-top menu-image" >
              <div class="card-body table-responsive">
                <h2 class="text-center card-titel">Dosa and Tiffin</h2>

                  <table class="table fw-bold  text-capitalize ">

                    <tr *ngFor="let item of dosaAndTiffin" >
                      <td>  {{ item.text }} 
                        <img [src]="item.imageUrl" alt="{{ item.text }}" style="height: 40px ; width: 40px;" /> </td>
                       <td> {{item.amount}} </td>
                    </tr>

                  </table>


                
                
                <div id="btn3"> <button>Order Now</button> </div>
              </div>
            </div>
          </div> 
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="assets\Menu\Briyani.jpg" class="card-image-top menu-image" alt="...">
              <div class="card-body table-responsive">
                <h2 class="text-center card-titel">Rice & Briyani</h2>

                <table class="table fw-bold  text-capitalize ">

                  <tr *ngFor="let item of riceAndBriyani" >
                    <td>  {{ item.text }} 
                      <img [src]="item.imageUrl" alt="{{ item.text }}" style="height: 40px ; width: 40px;" /> </td>
                     <td> {{item.amount}} </td>
                  </tr>

                </table>

              
 

               
                <div id="btn3"> <button>Order Now</button> </div>
              </div>
            </div>
          </div> 
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="assets\Menu\Breads.jpg" class="card-image-top menu-image" alt="...">
              <div class="card-body">
                <h2 class="text-center card-titel">Breads</h2>

                <table class="table fw-bold  text-capitalize ">

                  <tr *ngFor="let item of breads" >
                    <td>  {{ item.text }} 
                      <img [src]="item.imageUrl" alt="{{ item.text }}" style="height: 40px ; width: 40px;" /> </td>
                     <td> {{item.amount}} </td>
                  </tr>

                </table>

                
              
                <div id="btn3"> <button>Order Now</button> </div>
              </div>
            </div>
          </div> 
        </div>

        <div class="row" style="margin-top: 50px;">
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
              <img src="assets\Menu\Gravys.jpg" class="card-image-top menu-image" alt="...">
              <div class="card-body">
                <h2 class="text-center card-titel">Sides</h2>

                <table class="table fw-bold  text-capitalize ">

                  <tr *ngFor="let item of sides" >
                    <td> 
                       {{ item.text }} 
                      <img [src]="item.imageUrl" alt="{{ item.text }}" style="height: 40px ; width: 40px;" /> 
                    </td>
                     <td> {{item.amount}} </td>
                  </tr>

                </table>

                
               
                <div id="btn3"> <button>Order Now</button> </div>
              </div>
            </div>
          </div> 
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="assets\Menu\Curry.jpg" class="card-image-top menu-image" alt="...">
              <div class="card-body table-responsive">
                <h2 class="text-center card-titel">Curries</h2>

                <table class="table fw-bold  text-capitalize ">

                  <tr *ngFor="let item of currys" >
                    <td> 
                       {{ item.text }} 
                      <img [src]="item.imageUrl" alt="{{ item.text }}" style="height: 40px ; width: 40px;" /> 
                    </td>
                     <td> {{item.amount}} </td>
                  </tr>

                </table>

               
                
                <div id="btn3"> <button>Order Now</button> </div>
              </div>
            </div>
          </div> 
          <div class="col-md-4 py-3 py-md-0">
            <div class="card">
             <img src="assets\Menu\Deserts.jpg" class="card-image-top menu-image" alt="...">
              <div class="card-body">
                <h2 class="text-center card-titel">Deserts</h2>

                <table class="table fw-bold  text-capitalize ">

                  <tr *ngFor="let item of deserts" >
                    <td> 
                       {{ item.text }} 
                      <!-- <img [src]="item.imageUrl" alt="{{ item.text }}" style="height: 40px ; width: 40px;" />  -->
                    </td>
                     <td> {{item.amount}} </td>
                  </tr>

                </table>

               
             
                <div id="btn3"> <button>Order Now</button> </div>
              </div>
            </div>
          </div> 
        </div>
      </div>


    </div><br>

  </section><br>

  <!--gallery slider Content -->
 
  <section id="gallery" class="slider-section">

    <div class="">

      <div id="carouselExampleIndicators" class="carousel slide ">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        
        </div>
        <div class="carousel-inner">
          <div  class="carousel-item active c-item" >
            <img src="assets\Slider\Taste the Best Sea Food.jpg" class="d-block w-100 c-image" alt="first">
            <div class="carousel-caption top-0 mt-4 ">
             <h1 class=" text-capitalize">Taste the Best Sea Food</h1>
             
            </div>
           
          </div>
          <div class="carousel-item c-item">
            <img src="assets\Slider\Taste the bestest Mocktails.jpg" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption top-0 mt-4 ">
              <h1 class=" text-capitalize">Taste the bestest Mocktails</h1>
              
             </div>
          </div>
          <div class="carousel-item c-item">
            <img src="assets\Slider\Taste the fresh meat Food.jpg" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption top-0 mt-4 ">
              <h1 class=" text-capitalize">Taste the fresh meat Food</h1>
              
             </div>
          </div>

          <div class="carousel-item c-item">
            <img src="assets\Slider\Taste the Fresh Veggies.jpg" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption top-0 mt-4 ">
              <h1 class=" text-capitalize">Taste the Fresh Veggies</h1>
              
             </div>
          </div>

          <div class="carousel-item c-item">
            <img src="assets\Slider\Taste the Indian Sweets.jpg" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption top-0 mt-4 ">
              <h1 class=" text-capitalize">Taste the Indian Sweets</h1>
              
             </div>
          </div>

          <div class="carousel-item c-item">
            <img src="assets\Slider\Taste the Spices & Flavours.jpg" class="d-block w-100 c-image" alt="...">
            <div class="carousel-caption top-0 mt-4 ">
              <h1 class=" text-capitalize">Taste the Spices & Flavours</h1>
             
             </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

    

  </section>
 
   
  <br>
  

  <!-- contact section -->

  <section id="contact" class="contact-section bg-dark">
    <h2 class="text-center text-white fw-bold" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Contact Us</h2><br>

    <div class="container">
        <div class=" amtDiv  ">
             
          
                <div class="contact-info">
                  <h3 (click)="showLocationOnMap('London')">Pandyas</h3>
                   <p>159 High St N, London E6 1JB, United Kingdom</p>
                    <p><a class="phone-link" href="tel:+1234567890"> +447983760060</a></p>
                    <p><a class="email-link" href="mailto:example@example.com">example@example.com</a></p>
                </div>
           

              <div class="contact-info">
                <h3 (click)="showLocationOnMap('India')">Pandyas</h3>
                <p>159 High St N, London E6 1JB, United Kingdom</p>
                  <p><a class="phone-link" href="tel:+1234567890"> +447983760060</a></p>
                  <p><a class="email-link" href="mailto:example@example.com"> example@example.com</a></p>
              </div>
        

          
            <div class="contact-info">
              <h3 (click)="showLocationOnMap('America')">Pandyas</h3>
              <p>159 High St N, London E6 1JB, United Kingdom</p>
                <p><a class="phone-link" href="tel:+1234567890"> +447983760060</a></p>
                <p><a class="email-link" href="mailto:example@example.com"> example@example.com</a></p>
            </div>
        

       
          <div class="contact-info">
            <h3 (click)="showLocationOnMap('China')">Pandyas</h3>
            <p>159 High St N, London E6 1JB, United Kingdom</p>
              <p><a class="phone-link" href="tel:+1234567890"> +447983760060</a></p>
              <p><a class="email-link" href="mailto:example@example.com"> example@example.com</a></p>
          </div>
      

           

        </div>
    </div>

    <div class="container map">
      <iframe #mapFrame width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>





  <!-- <script>
    const scrollSpy = new bootstrap.ScrollSpy(document.body, {
  target: '#navbar-scroll'
   })
  </script> -->

</body>